<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>AI Finance Consultant</title>
</head>
<body>
    <h2>You asked:</h2>
    <p>{{prompt}}</p>
    <br>
    <h2>AI Finance Consultant answers:</h2>
    <p>{{response}}</p>
    <br>
    <audio controls autoplay>
        <source src="{{ audio_file_url }}" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
    <h2>{{error_message}}</h2>
</body>
</html>
