{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>AI Finance Consultant</title>
    <!-- Include the CSRF token as a JavaScript variable -->
    <script type="text/javascript">
        var csrfToken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'ollama/js/api_request.js' %}" type="module"></script>
</head>

<body>
    <h2>Ask AI Finance Consultant:</h2>
    <input type="text" id="userInput" placeholder="Enter your question here">
    <button>Submit</button>
    <br><br>

    <h2>You asked:</h2>
    <p id="prompt">Waiting for input...</p>
    <br>
    <h2>AI Finance Consultant answers:</h2>
    <p id="response">Waiting for input...</p>
    <br>
    <audio id="audioPlayer" controls>
        Your browser does not support the audio element.
    </audio>
    <h2 id="error"></h2>
</body>

</html>