{% load static %}
{% get_media_prefix as MEDIA_PREFIX %} <!-- Retrieve the media URL prefix -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>AI Finance Consultant</title>
    <link rel="stylesheet" href="{% static 'ollama/css/local_request.css' %}">
    <script src="{% static 'ollama/js/api_request.js' %}" type="module"></script>
</head>

<body class="container">
    <h1>AI Finance Consultant</h1>
    <div class="logo-container">
        <img src="{{ MEDIA_PREFIX }}Finance_consultant_logo_no_mic.png" alt="Finance Consultant Logo">
    </div>
    <h1>You asked:</h1>
    <div class="text" id="prompt">Waiting for input...</div>
    <h1>AI Finance Consultant answers:</h1>
    <div class="text" id="response">Waiting for input...</div>
    <button id="voiceInputButton">Voice Input</button>
    <script type="module">
        import { fetchLocalRequest } from '{% static 'ollama/js/api_request.js' %}';

        window.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('voiceInputButton').addEventListener('click', function () {
                fetch('transcribe/', { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.transcription) {
                            const userInput = document.getElementById('submitButton'); // This should be 'userInput' based on your placeholder
                            userInput.value = data.transcription;
                            if (userInput.value.trim() !== 'Enter your question here') {
                                fetchLocalRequest(data.transcription);
                            }
                        } else {
                            alert(data.error || 'An error occurred while transcribing audio.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    </script>
    <audio id="audioPlayer" controls>
        Your browser does not support the audio element.
    </audio>
    <div id="error"></div>
    <h1>Your transactions</h1>
    <pre class="transactions">
        [
            {
                "transactionId": "9492293",
                "bookingDate": "2024-04-01",
                "transactionAmount": {
                    "amount": "438.0",
                    "currency": "ISK"
                },
                "creditorName": "John Smith",
                "remittanceInformation": "Big toy car"
            },
            {
                "transactionId": "9492288",
                "bookingDate": "2021-09-25",
                "transactionAmount": {
                    "amount": "-121.19",
                    "currency": "ISK"
                },
                "creditorName": "Bob Doe",
                "remittanceInformation": "McDonnald's"
            },
            {
                "transactionId": "9492294",
                "bookingDate": "2024-03-31",
                "transactionAmount": {
                    "amount": "-9.0",
                    "currency": "ISK"
                },
                "creditorName": "Jake Jones",
                "remittanceInformation": "Car repair"
            }
            ]</pre>
            <br><br><br><br><br><br><br><br>
        <input type="text" id="userInput" placeholder="Enter your question here">
        <button id="submitButton">Submit</button>
        </body>
        </html>